* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* body {
  width: 100vw;
  height: 100vh;
} */

.container {
    display: flex;
    justify-content: space-between;
  }

.bola1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    justify-self: end;
}

.quadrado {
  width: 100px;
  height: 100px;
  background-color: blue;
  align-self: flex-end;
  justify-self: end;
}

/* .container2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50vw;
    height: 50vh;
} */



